body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

.top-hero {
    background-image: url(./images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
}

.help-flooded {
    padding-top: 200px;
    text-align: center;
}

.flooded-h1 {
    font-size: 60px;
    color: white;
}

#flood-p {
    font-size: 20px;
    color: white;
    margin-top: -35px;
    margin-bottom: 40px;
}

.link-button {
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-size: 16px;
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 5px;
}


.donation-part {
    margin-top: 100px;
}

.donate-blog {
    text-align: center;
}

.donate-h2 {
    font-size: 40px;
}

.common-p {
    font-size: 16px;
    color: #8f8f8f;
    line-height: 20px;
    letter-spacing: 1px;
}

.count-1 {
    margin-top: 50px;
    text-align: center;
}

.box-six {
    margin-bottom: 100px;
}

.box-1 {
    display: flex;
    margin-left: 290px;
    margin-top: 50px;
}

.half-width {
    width: 12%;
    height: 100px;
    margin-left: 20px;
    box-shadow: 5px 10px 30px gray;
    margin-bottom: 35px;
}

.half-width h1 {
    font-size: 25px;
    text-align: center;
    padding-top: 15px;
    color: #707070;
    font-weight: 700;
}

#extra-box {
    background-color: #ffeeee;
    border: 2px orangered solid;
    border-radius: 4px;
}

#extra-box h1 {
    color: orangered;
}

.extra-para {
    text-align: center;
}

.line {
    border: 1px solid;
    color: #dadada;
    margin-left: 300px;
    margin-right: 280px;
    margin-bottom: 40px;
}

.donate-plan-part {
    text-align: center;
}

.donate-box-part {
    margin-top: 40px;
}

.donate-box-card {
    display: flex;
    margin-left: 150px;
}

.donate-card1 {
    background-color: #edf5f6;
    width: 26%;
    height: 274px;
    margin-left: 20px;
}

.donate-card2 {
    background-color: #ffeeee;
    width: 26%;
    height: 274px;
    margin-left: 20px;
}

.donate-card3 {
    background-color: #fff4d6;
    width: 26%;
    height: 274px;
    margin-left: 20px;
}

.card-icon {
    font-size: 50px;
}

.common-h2 {
    padding-top: 40px;
    margin-left: 20px;
}

.card-para {
    font-size: 16px;
    color: #8f8f8f;
    margin-left: 20px;
}


.donate-world {
    margin-top: 100px;
}

.donate-world-part {
    display: flex;
    margin-left: 150px;

}

.donate-img img {
    margin-right: 700px;
    width: 60%;
    height: 370px;
    margin-left: 150px;
    margin-top: 40px;
}

.donate-world-h2 {
    font-size: 40px;
}

.blank {
    margin-top: 50px;
    margin-left: 150px;
}

.get-update {
    margin-top: 100px;
}

.update {
    text-align: center;
}

.update-h2 {
    font-size: 40px;
    font-weight: 700;
}